<!doctype html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link
            href="{{ url_for('static', filename='css/styles.css') }}"
            rel="stylesheet"
        />
        <link
            href="{{ url_for('static', filename='css/discover.css') }}"
            rel="stylesheet"
        />
    </head>
    <body>
        {% include 'navbar.html' %}
        <div class="discover">
            <h1>Meet Our Model's Recognised Felis Species</h1>

            <div class="species">
                <div class="species-info">
                    <h3>Domestic Cat</h3>

                    <p class="italics">Felis catus</p>
                    <p>
                        Domestic cats, scientifically referred to as Felis
                        catus, are beloved companions known for their diverse
                        breeds, colors, and personalities. They have a long
                        history of living alongside humans, combining
                        independence with affection.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        Domestic cats live in a wide range of environments
                        worldwide, from urban areas to rural settings.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        Domestic cats come in various sizes, depending on their
                        breed. <br />

                        <span class="bold">Coat: </span>
                        The coat of domestic cats varies greatly, with a wide
                        range of colors, patterns, and lengths. <br />
                        <span class="bold"> Ears: </span>
                        Ears can be upright or folded, depending on the breed.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Not applicable (due to their domestication)
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/domestic_cat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
            <div class="species">
                <div class="species-info">
                    <h3>African Wildcat</h3>

                    <p class="italics">Felis lybica</p>
                    <p>
                        The African Wildcat, scientifically known as Felis
                        lybica, is a small, slender cat with a sandy coat
                        adorned with subtle stripes and spots. These skilled
                        hunters are known for their adaptability, allowing them
                        to thrive in diverse African habitats.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        African Wildcats are versatile, inhabiting various
                        environments across Africa, from savannas and deserts to
                        forests.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        African Wildcats are small to medium-sized cats, with
                        males typically larger than females.

                        <span class="bold">Coat: </span>
                        They have a short, sandy-colored coat adorned with faint
                        stripes and spots.
                        <span class="bold"> Ears: </span>
                        Their ears are relatively short compared to some other
                        wildcats.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Least Concern
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/african_wildcat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
            <div class="species">
                <div class="species-info">
                    <h3>Blackfoot Cat</h3>

                    <p class="italics">Felis lybica</p>
                    <p>
                        The African Wildcat, scientifically known as Felis
                        lybica, is a small, slender cat with a sandy coat
                        adorned with subtle stripes and spots. These skilled
                        hunters are known for their adaptability, allowing them
                        to thrive in diverse African habitats.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        African Wildcats are versatile, inhabiting various
                        environments across Africa, from savannas and deserts to
                        forests.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        African Wildcats are small to medium-sized cats, with
                        males typically larger than females.

                        <span class="bold">Coat: </span>
                        They have a short, sandy-colored coat adorned with faint
                        stripes and spots.
                        <span class="bold"> Ears: </span>
                        Their ears are relatively short compared to some other
                        wildcats.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Near Threatened
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/blackfooted_cat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
            <div class="species">
                <div class="species-info">
                    <h3>Chinese Mountain Cat</h3>

                    <p class="italics">Felis bieti</p>
                    <p>
                        The Chinese Mountain Cat, or Felis bieti, thrives in the
                        challenging mountainous environments of China. Their
                        dense fur and unique appearance help them adapt to harsh
                        conditions. They are solitary and elusive hunters.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        Chinese Mountain Cats are native to high-altitude
                        regions of China.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        Chinese Mountain Cats are small cats, with stocky
                        bodies.

                        <span class="bold">Coat: </span>
                        Their fur is thick and soft, often grayish or pale brown
                        with dark spots.
                        <span class="bold"> Ears: </span>
                        They have distinctive, rounded ears with small tufts of
                        hair.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Vulnerable
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/chinese_mountain_cat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
            <div class="species">
                <div class="species-info">
                    <h3>European Wild Cat</h3>

                    <p class="italics">Felis silvestris silvestris</p>
                    <p>
                        The European Wildcat, or Felis silvestris silvestris,
                        closely resembles domestic cats but retains its wild
                        instincts. They are known for their solitary nature and
                        excellent hunting skills.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        European Wildcats inhabit forests and woodlands in
                        Europe.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        European Wildcats closely resemble domestic cats in
                        size.

                        <span class="bold">Coat: </span>
                        Their fur is dense and often grayish with a striped
                        pattern.
                        <span class="bold"> Ears: </span>
                        They have typical cat ears with a small amount of
                        tufting.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Least Concern
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/european_wildcat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
            <div class="species">
                <div class="species-info">
                    <h3>Jungle Cat</h3>

                    <p class="italics">Felis chaus</p>
                    <p>
                        The Jungle Cat, scientifically known as Felis chaus, is
                        a medium-sized wildcat known for its agility and hunting
                        prowess. They are skilled hunters that adapt to their
                        diverse habitats.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        Jungle Cats thrive in wetlands, grassy areas, and
                        forests in regions including Asia and the Middle East.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        Jungle Cats are medium-sized cats with a slender build.

                        <span class="bold">Coat: </span>
                        Their coat is usually tawny or grayish with dark spots
                        and stripes.
                        <span class="bold"> Ears: </span>
                        They have relatively long and pointed ears.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Least Concern
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/jungle_cat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
            <div class="species">
                <div class="species-info">
                    <h3>Sand Cat</h3>

                    <p class="italics">Felis margarita</p>
                    <p>
                        The Sand Cat, or Felis margarita, is uniquely adapted to
                        thrive in harsh desert conditions. Their large ears help
                        with heat regulation, and they are efficient hunters in
                        challenging environments.
                    </p>
                    <p>
                        <span class="bold">Habitat: </span>
                        Sand Cats are specialized for life in arid desert
                        environments.
                    </p>
                    <p>
                        <span class="bold"> Size: </span>
                        Sand Cats are small cats with a compact and stocky body.

                        <span class="bold">Coat: </span>
                        They have a pale, sand-colored coat, perfectly suited to
                        their desert habitat.
                        <span class="bold"> Ears: </span>
                        Their most distinctive feature is their large, prominent
                        ears.
                    </p>

                    <p>
                        <span class="bold">Conservation Status:</span>
                        Least Concern
                    </p>
                </div>
                <div class="species-img">
                    <img
                        src="{{ url_for('static', filename='images/sand_cat.jpg')}}"
                        alt="Species 1"
                    />
                </div>
            </div>
        </div>
        {% include 'footer.html' %}
    </body>
</html>
