<div class="footer">
    <div class="line"></div>
    <div class="logo">FelinAI</div>

    <div class="footer-links">
        <ul>
            <li><a class="links" href="/">Home</a></li>
            <li><a class="links" href="/discover">Discover</a></li>
            <li><a class="links" href="/predict">Predict</a></li>
            <li><a class="links" href="/contact">Contact</a></li>
            <li><a class="links" href="/faq">FAQ</a></li>
        </ul>
    </div>
    <div class="footer-contact">
        <p>Contact: contact@felinai.com</p>
        <p>Phone: +91 9876543210</p>
    </div>
    <div class="footer-social">
        <ul>
            <li>
                <a class="links" href="https://www.facebook.com/">Facebook</a>
            </li>
            <li>
                <a class="links" href="https://www.instagram.com/">Instagram</a>
            </li>
            <li>
                <a class="links" href="https://www.twitter.com/">Twitter</a>
            </li>
            <li>
                <a class="links" href="https://www.linkedin.com/">LinkedIn</a>
            </li>
        </ul>
    </div>
</div>
