<div class="navbar">
    <div class="container">
        <div class="name">
            <a class="links" href="{{ url_for('home') }}">FelinAI</a>
        </div>

        <div class="tabs">
            <a class="links" href="{{ url_for('discover') }}">Discover</a>
            <a class="links" href="{{ url_for('predict') }}">Predict</a>
            <a class="links" href="{{ url_for('contact') }}">Contact</a>
            <a class="links" href="{{ url_for('faq') }}">FAQ</a>
        </div>
    </div>
</div>
